[Unit]
Description=Take an incremental backup of the %I server

[Service]
Type=oneshot

User=backup
WorkingDirectory=/srv/minecraft/%i/

#ExecStart=duplicity --no-encryption --archive-dir /srv/minecraft/%i/backupcache /srv/minecraft/%i/ b2://0002d508ec4b2ff0000000008:K000JC0ZapVfNlGNe0rSaQ33DTIumX0@whsminecraft-backups/%i
#ExecStart=duplicity --no-encryption --archive-dir /srv/minecraft/%i/backupcache /srv/minecraft/%i/ --rsync-options='"-e sshpass -p Fin3#5tesSem ssh -p 2222"' 'rsync://minecraft@193.175.199.182:2222//home/minecraft/backup/%i'
#ExecStart=duplicity --no-encryption /srv/minecraft/%i/ --rsync-options='"-e sshpass -p Fin3#5tesSem ssh -p 2222"' 'rsync://minecraft@193.175.199.182:2222//home/minecraft/backup/%i'
ExecStart=duplicity --no-encryption /srv/minecraft/%i/ scp://minecraft@193.175.199.182:2222/backup/%i


[Install]
WantedBy=multi-user.target
