[Unit]
Description=Render the WHS Minecraft Map

[Service]
User=overviewer
WorkingDirectory=/srv/overviewer/
ExecStart=/srv/overviewer/render.sh
Type=simple
