[Unit]
Description=Render the WHS Minecraft Map

[Service]
User=overviewer
WorkingDirectory=/var/tmp/minecraft-overviewer/
ExecStart=/var/tmp/minecraft-overviewer/render.sh
Type=simple
